.d2-meta-panel {
  display: none;
  position: fixed;
  flex-direction: column;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20vh;
  max-height: 80vh;
  min-height: 10vh;
  background-color: #333;
  color: #fff;
  overflow: hidden;
  z-index: 9999;
  box-sizing: border-box;

  &[data-is-show="true"] {
    display: flex;
  }

  &[data-position="top"]{
    bottom: auto;
    top: 0;
  }

  * {
    box-sizing: border-box;
  }
}

.d2-meta-panel__resize {
  display: block;
  position: relative;
  line-height: 1;
  text-align: center;
  color: #ccc;
  font-size: 1.2rem;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: #555;
  }

  .d2-meta-panel[data-position="top"] &.d2-meta-panel__resize--top{
    display: none;
  }
  .d2-meta-panel[data-position="bottom"] &.d2-meta-panel__resize--bottom{
    display: none;
  }
}

// ボタンエリア
.d2-meta-panel__nav-container {
  display: flex;
  justify-content: flex-end;
  gap: .5rem;
}

// ボタンエリアのボタン
.d2-meta-panel__nav-btn{
  position: relative;
  width: fit-content;
  padding: 0.3em;
  border-radius: 0.2em;
  border: #ccc;
  line-height: 1;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    background-color: #ccc;
  }
}

// 位置変更ボタン
.d2-meta-panel__nav-btn--position {
  &:before{
    content: "▲";
  }

  .d2-meta-panel[data-position="top"] &:before {
    content: "▼";
  }
}


.d2-meta-panel__layout {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  padding: 1em;
  overflow: hidden;
}

.d2-meta-panel__prompt,
.d2-meta-panel__original {
  overflow: auto;
  padding: 1em;
  min-height: 0;
  border-radius: 0.2em;
  font-size: 1rem;
  line-height: 1.4;
}
